{% extends 'basico.html' %}
    {% block conteudo %}
        <div class="modal" id="meuModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Descrição</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>
                            <h2 id="h2Modal"></h2>
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div>
                <h1 id="nomePokemon" class="nome">{{ pokemon.nome }}</h1>
            </div>
            <div class="row">
                <div class="card-group cardzao col-sm">
                    <div class="card cardizinho">
                        <img class="card-img-top style-img" src="{{ pokemon.imagem.url }}" alt="Card image cap">
                    </div>
                </div>
                <div class="attr-pokemon col-sm">
                    <div class="card-azul-esquerda">
                        <ul class="list-group ul-attr">
                            <li class="list-group-item li-attr">
                                <span>Vida :</span>
                                <span>{{ pokemon.vida }}</span>
                            </li>
                            <li class="list-group-item li-attr">
                                <span>Vida :</span>
                                <span>{{ pokemon.vida }}</span>
                            </li>
                            <li class="list-group-item li-attr">
                                <span>Ataque fisico :</span>
                                <span>{{ pokemon.ataque_fisica }}</span>
                            </li>
                            <li class="list-group-item li-attr">
                                <span>Defesa fisica :</span>
                                <span>{{ pokemon.defesa_fisica }}</span>
                            </li>
                            <li class="list-group-item li-attr">
                                <span>Ataque Especial :</span>
                                <span>{{ pokemon.ataque_especial }}</span>
                            </li>
                            <li class="list-group-item li-attr">
                                <span>Defesa Especial :</span>
                                <span>{{ pokemon.defesa_especial }}</span>
                            </li>
                            <li class="list-group-item li-attr">
                                <span>velocidade :</span>
                                <span>{{ pokemon.velocidade }}</span>
                            </li>
                            <li class="list-group-item li-attr">
                                <span>Peso :</span>
                                <span>{{ pokemon.peso }}</span>
                            </li>
                        </ul>
                    </div>
                    <div class="card-azul-direita">
                        <ul class="list-group ul-attr">
                            <li class="list-group-item li-attr">
                                <span>Evolução: </span>
                                {% if pokemon.evolucao == None %}
                                    <span>Sem evolução</span>
                                    {% else %}
                                        <span>{{ pokemon.evolucao }}</span>
                                {% endif %}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <h1 class="nome">Experiência: {{pokemon.experiencia}} | 100</h1>
            <div class="progress attr-exp">
                <div class="progress-bar" role="progressbar" aria-valuenow="{{ pokemon.experiencia }}"
                     style="width: {{ pokemon.experiencia }}%" aria-valuemin="0" aria-valuemax="100">
                </div>
            </div>
        </div>
        <h1 class="nome">Habilidades</h1>
        <ul class="list-group">
            {% for habilidade in pokemon.habilidades.all %}
                <li class="list-group-item li-attr">
                    <span>{{ habilidade.nome }}</span>
                    <a onclick="chamarModal('{{ habilidade.descricao }}')">
                        <span class="fa fa-question"></span>
                    </a>
                </li>
            {% endfor %}
        </ul>
        <h1 class="nome">Movimentos</h1>
        <ul class="list-group">
            {% for movimento in pokemon.movimentos.all %}
                <li class="list-group-item li-attr">
                    <span>{{ movimento.nome }}</span>
                    <a onclick="chamarModal('{{ movimento.descricao }}')">
                        <span class="fa fa-question"></span>
                    </a>
                </li>
            {% endfor %}
        </ul>
        <h1 class="nome">Elementos</h1>
        <ul class="list-group">
            {% for elemento in pokemon.elementos.all %}
                <li class="list-group-item li-attr">
                    <span>{{ elemento.nome }}</span>
                </li>
            {% endfor %}
        </ul>
        <script>
            function chamarModal(valor){
                $('#meuModal').modal('show');
                $('#h2Modal').html('');
                $('#h2Modal').append(''+valor);
            }
        </script>
    {% endblock %}